---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import HeroSection from '../components/HeroSection.astro';
import IntroSection from '../components/IntroSection.astro';
import NeedsSection from '../components/NeedsSection.astro';
import StatsSection from '../components/StatsSection.astro';
import FormSection from '../components/FormSection.astro';
import BannerSection from '../components/BannerSection.astro';
import BlogSection from '../components/BlogSection.astro';
import FAQSection from '../components/FAQSection.astro';
import SocialSection from '../components/SocialSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar currentPath="/" />
  <main>
    <HeroSection />
    <IntroSection />
    <NeedsSection />
    <StatsSection />
    <FormSection />
    <BannerSection />
    <BlogSection />
    <FAQSection />
    <SocialSection />
  </main>
  <Footer />
</Layout>
